include ../includes/breadcrumbs
.pattern
  .container
    .pattern__item
      .pattern__col
        img(class="lazy" data-src="assets/img/img1.jpg", alt="")
      .pattern__col
        .title-wrap
          h2.title О НАС
          h3.subtitle Кыргызская Ассоциация Туризма <br>
            | Основанного на Сообществах (CBT)

        p Новый тип менеджеров работает над тем, чтобы предоставить посетителям более разнообразные, ориентированные на клиента возможности. Но, тем не менее, в стране с захватывающими горными пейзажами и бесчисленными неизведанными приключениями на долю туризма приходится менее половины среднего показателя по странам мира (в процентах от ВВП), а туризм, основанный на сообществах, является новым явлением.
        p Туризм в бывшем советском Кыргызстане становится проще, лучше и выгоднее. Правительство Кыргызстана ввело безвизовый режим для 52 стран и собирается разрешить гражданам еще 9 стран въезжать в Кыргызстан без визы. Предприниматели устанавливают международные связи и разрабатывают веб-сайты для продажи услуг новых туристических агентств и туристических агентств.

    .pattern__item
      .pattern__col
        img(class="lazy" data-src="assets/img/img1.jpg", alt="") 
      .pattern__col
        p Кыргызская ассоциация туризма на базе сообщества «Гостеприимство Кыргызстан» (KCBTA) (движущая сила страны в области передового опыта и инноваций CBT) возглавляет работу. Целью ассоциации является улучшение условий жизни в отдаленных горных районах путем разработки устойчивой и полезной модели экотуризма, использующей местные природные и рекреационные ресурсы. KCBTA, расположенная в столице Бишкеке, представляет собой зонтичную ассоциацию, объединяющую 15 различных населенных пунктов («группы CBT»).
        p Ассоциация ТОС была зарегистрирована 3 января 2003 года при поддержке Программы Хельветас в Кыргызстане в рамках Проекта поддержки туризма на базе сообществ (ОПТ ОП), осуществляющего свою деятельность по всей стране.


    .pattern__item
      .pattern__col
        img(class="lazy" data-src="assets/img/img1.jpg", alt="")
      .pattern__col
        p Туризм на базе сообществ (ТОС) был инициирован в мае 2000 года. Эта инициатива пользуется большой поддержкой местных жителей, и на сегодняшний день существует 5 активно работающих групп ТО почти по всему Кыргызстану. Для дальнейшего развития и координации деятельности внутри страны эти группы создали собственную зонтичную организацию – Кыргызскую ассоциацию туризма на базе сообществ (КАТОС) – «Гостеприимство Кыргызстан».
        p Основной целью КАТОС является улучшение условий жизни людей в отдаленных горных районах путем развития сельского туризма без ущерба для природной среды и культуры местного населения. 