include ../includes/breadcrumbs
.articles 
  .container 
    .title-wrap
      h2.title СОБЫТИЯ
      mixin article
        .articles__item 
          .articles__img
            img(class="lazy" data-src="assets/img/article.jpg", alt="")
          .articles__desc-wrap 
            .articles__title Фестиваль «Нооруз»
            .article-date 
              span
                i.icon-user
                | СBT KARAKOL
              span 21 марта 2022 
            .articles__desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt, ratione.
            a.btn(href="#") Подробнее  
      +article
      +article
      +article
      +article
      +article
      +article


