.pass-form(style="background-image: url('assets/img/pass-form.jpg')")
  .container 
    .title-wrap.title-wrap--white 
      h2.title ПОГРАНИЧНЫЙ ПРОПУСК
    .pass-form__wrap  
      p Для получения пограничного пропуска вам необходимо <br> 
        | заполнить анкету, и в течении определенного времени <br>
        | мы свяжемся с вами.
      a(href="#").btn Заполнить анкету   