.img-group.img-group--right
  .container
    .img-group__wrap
      .img-group__col
        .img-group__images
          .img-group__item
            img(class="lazy" data-src="assets/img/img1.jpg", alt="")
          .img-group__item
            img(class="lazy" data-src="assets/img/img2.jpg", alt="")
          .img-group__item
            img(class="lazy" data-src="assets/img/img3.jpg", alt="")
      .img-group__col
        .title-wrap
          h2.title АРЕНДА
          
        p.text-fz27 Туристическая инфраструктура в Кыргызстане развита не очень хорошо и в связи с этим многие туристы сталкиваются с проблемой аренды качественного снаряжения для путешествий: палаток, спальных мешков, рюкзаков, велосипедов пригодных для туризма, велозапчастей и многого многого другого. Как правило, приобрести качественный и нужный вам товар можно только в у нас.
        p.text-fz27  Lorem Ipsum — это просто текст-пустышка полиграфической и наборной индустрии. Lorem Ipsum был стандартным фиктивным текстом в отрасли с 1500-х годов, когда неизвестный печатник взял гранку шрифта и перемешал ее, чтобы сделать книгу образцов шрифтов. 
.rent.gr-bg
  .container 
    .title-wrap     
      h2.title ТОВАРЫ В ПРОКАТ
      a(href="#").price
        svg(xmlns='http://www.w3.org/2000/svg' width='18' height='16' viewBox='0 0 18 16' fill='none')
          path(d='M3.384 2.066C3.384 2.534 3.216 2.936 2.88 3.272C2.556 3.596 2.16 3.758 1.692 3.758C1.224 3.758 0.822 3.596 0.486 3.272C0.162 2.936 0 2.534 0 2.066C0 1.598 0.162 1.202 0.486 0.877999C0.822 0.553999 1.224 0.391999 1.692 0.391999C2.16 0.391999 2.556 0.559999 2.88 0.895999C3.216 1.22 3.384 1.61 3.384 2.066ZM1.692 6.008C1.224 6.008 0.822 6.176 0.486 6.512C0.162 6.836 0 7.232 0 7.7C0 8.168 0.162 8.57 0.486 8.906C0.822 9.23 1.224 9.392 1.692 9.392C2.16 9.392 2.556 9.23 2.88 8.906C3.216 8.57 3.384 8.168 3.384 7.7C3.384 7.232 3.216 6.836 2.88 6.512C2.556 6.176 2.16 6.008 1.692 6.008ZM1.692 11.642C1.224 11.642 0.822 11.81 0.486 12.146C0.162 12.47 0 12.86 0 13.316C0 13.772 0.162 14.168 0.486 14.504C0.822 14.84 1.224 15.008 1.692 15.008C2.16 15.008 2.556 14.84 2.88 14.504C3.216 14.18 3.384 13.784 3.384 13.316C3.384 12.848 3.216 12.452 2.88 12.128C2.556 11.804 2.16 11.642 1.692 11.642ZM18 2.642V1.508C18 1.388 17.958 1.292 17.874 1.22C17.802 1.136 17.706 1.094 17.586 1.094H4.914C4.806 1.094 4.71 1.136 4.626 1.22C4.542 1.292 4.5 1.388 4.5 1.508V2.642C4.5 2.762 4.542 2.864 4.626 2.948C4.71 3.02 4.806 3.056 4.914 3.056H17.586C17.706 3.056 17.802 3.02 17.874 2.948C17.958 2.864 18 2.762 18 2.642ZM18 8.258V7.142C18 7.022 17.958 6.92 17.874 6.836C17.802 6.752 17.706 6.71 17.586 6.71H4.914C4.806 6.71 4.71 6.752 4.626 6.836C4.542 6.92 4.5 7.022 4.5 7.142V8.258C4.5 8.378 4.542 8.48 4.626 8.564C4.71 8.648 4.806 8.69 4.914 8.69H17.586C17.706 8.69 17.802 8.648 17.874 8.564C17.958 8.48 18 8.378 18 8.258ZM18 13.892V12.758C18 12.638 17.958 12.542 17.874 12.47C17.802 12.386 17.706 12.344 17.586 12.344H4.914C4.806 12.344 4.71 12.386 4.626 12.47C4.542 12.542 4.5 12.638 4.5 12.758V13.892C4.5 14.012 4.542 14.108 4.626 14.18C4.71 14.264 4.806 14.306 4.914 14.306H17.586C17.706 14.306 17.802 14.264 17.874 14.18C17.958 14.108 18 14.012 18 13.892Z' fill='black')
        | Посмотреть прайс
    .icon-list 
      mixin icon(icon,name)  
        .icon-list__item
          .icon-list__icon
            img(class="lazy" data-src="assets/img/icon"+icon+".png", alt="")
          .icon-list__name=name
      +icon('1','Палатка')     
      +icon('2','Спальный мешок')     
      +icon('3','Каремат')     
      +icon('4','Рюкзак трекинговый')     
      +icon('5','Кемпинговый газ')     
      +icon('6','Велосипед')
    p.text-fz20  А также имеется в продаже карты
    a.btn(href="#") Арендовать        



