.social.social--white   
  ul  
    mixin social(icon, link)
      li 
        a(href=link)
          i(class="icon-"+icon) 
    +social('instagramm','#')      
    +social('tw','#')      
    +social('facebook','#')      
    +social('vk','#')      
    +social('youtube','#')      