include ../includes/breadcrumbs
.detail
  .container
    include ../includes/gallery-container
    .title-wrap
      h2.title Алтын Арашан
    .desc-text
      .desc-text__wrap
        .desc-text__col
          p Алтын-Арашан (в переводе «Золотой источник») — это высокогорное ущелье в восточной части хребта Терскей-Ала-Тоо, находящееся близ города Каракол. Это ущелье является одним из самых популярных туристических мест в Кыргызстане, благодаря своей неповторимой природе, горячим источникам, располагающимся прямо в ущелье, обширным еловым лесам и потрясающим видам.
            | Еще во времена Советского Союза территория ущелья была признана особо охраняемой заповедной зоной из-за большого природного разнообразия ущелья. Свой статус природного заповедника ущелье получило в 1963 году и сохраняет его до сих пор, ведь это одно из немногих мест на планете, где сохранился густой реликтовый лес из тянь-шанской ели. Широко известны и горячие источники Алтын-Арашана. Они располагаются на рекордной высоте 2600 метров и обладают целебным эффектом благодаря содержанию радона и сероводорода в воде, круглый год сохраняя высокую температуру: 35 градусов для радонового источника и 41 градус для сероводородного. У некоторых источников сооружены крытые бассейны, другие же по сей день являются «дикими», располагаясь в выдолбленных в камнях купальнях или гротах.
          p Большой поток туристов Алтын-Арашану обеспечивает его расположение: через это ущелье можно подняться к высокогорному озеру Ала-Куль — красивейшему озеру Терскей-Ала-Тоо, преодолев одноименный перевал, высотой в 3800 метров. Дорога туда проходит через левый приток реки Алтын-Арашан, в 5-ти километрах выше курорта.
            | Еще одной причиной любви туристов к этому месту является Аксуйская стена, которую также называют пиком Палатка, из-за необычной трапециевидной формы, что является большой редкостью для тянь-шаньских гор. Вид на стену стал своеобразной визитной карточкой ущелья. Для любителей пешеходного туризма будет особо интересна прогулка к подножию пика, где располагается небольшое ледниковое озеро Кашка-Суу и несколько водопадов: Шаркыратма, Кулдурек, Таш-Тектир, Арчалы-Тор и Такыр-Тор.
            | Ущелье Алтын-Арашан имеет сложный географический рельеф, непохожий на прочие горные ущелья северного Тянь-Шаня. В нижней своей части Алтын-Арашан представляет себя узкий каньон с большим градусом подъема, и бурной рекой, которая летом может затопить дорогу. В верхней же части, ущелье существенно расширяется и становится своеобразной высокогорной долиной, с очень плавным перепадом высот. Выше по течению реки ущелье разделяется, образуя два рукава, огибающих Аксуйскую стену с правой и левой стороны.
          
          .accordion
            mixin accordion(day)
              .accordion__item
                .accordion__title 
                  =day
                  i.icon-right
                .accordion__desc-wrap
                  .accordion__desc
                    p В Алтын-Арашане проходит огромное количество туристических маршрутов. Это место используют как базовый лагерь для радиальных выходов, как перевалочный пункт по пути на Ала-Куль, в ущелье Ак-Суу или долину Каракола и Джеты-Огуза.
                  .accordion__desc-img
                    a(href="assets/img/gallery1.jpg" data-fancybox="")
                      img(class="lazy" data-src="assets/img/gallery1.jpg", alt="")
                    a(href="assets/img/gallery2.jpg" data-fancybox="")
                      img(class="lazy" data-src="assets/img/gallery2.jpg", alt="")
                    a(href="assets/img/gallery3.jpg" data-fancybox="")
                      img(class="lazy" data-src="assets/img/gallery3.jpg", alt="")
                    a(href="assets/img/gallery4.jpg" data-fancybox="")
                      img(class="lazy" data-src="assets/img/gallery4.jpg", alt="")
            +accordion('1 день тура')
            +accordion('2 день тура')
            +accordion('3 день тура')
        .desc-text__col
          .detail__desc 
            .detail__desc-wrap 

              .detail__title Краткое описание
              ul 
                li 
                  span Продолжительность:
                  | 2 дня
                li 
                  span Уровень сложности:
                  | Средний
                li 
                  span Лучший сезон:
                  | Май-Октябрь
                li 
                  span Достопримечательности:
                  | Ущелье, конные прогулки, этно городок…
                li 
                  span Требования:
                  | непромокаемая теплая одежда, трекинговые ботинки, головной убор, солнцезащитные очки, перчатки и солнцезащитный крем.

            .detail__form
              form(action="") 
                .detail__title Бронировать

                .booking__item.booking__item--date
                  .booking__item-icon 
                    i.icon-colendar
                  div  
                    .booking__item-title Дата 
                    .booking__date-wrap
                      input#from(type='text' autocomplete="off" name='from')
                      | /
                      input#to(type='text' autocomplete="off" name='to')
                .booking__item
                  .booking__item-icon 
                    i.icon-user
                  div
                    .booking__item-title Гости 
                    .person-count
                      input(type="number" value="2" min="1")
                      span персоны
                button.btn Бронировать 

                          
