.pattern {
  img {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @include adaptiv('border-radius', 23, 14, 0);
    @include adaptiv('min-width', 559, 150, 0);
    max-width: rem(550);
    width: 100%;

    &.fr-fic.fr-dib.fr-fil {
      float: left;
    }

    &.fr-fic.fr-dib {
      text-align: center;
    }

    &.fr-fic.fr-dib.fr-fir {
      float: right;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @include adaptiv('margin-bottom', 30, 15, 0);
  }

  p {
    @include adaptiv('font-size', 20, 15, 0);
  }

  h3 {
    display: block;
    @include adaptiv('margin-bottom', 50, 25, 0);
    font-weight: 500;
    @include adaptiv('font-size', 27, 15, 0);
  }



  &__item {
    @include aic-jfcsb;
    flex-direction: row-reverse;
    @include adaptiv('margin-bottom', 115, 30, 0);

    @include md {
      flex-direction: column !important;
      width: 100%;
    }

    &:nth-child(2n) {
      flex-direction: row;
    }
  }

  &__col {

    @include md {
      width: 100%;
    }

    &:first-child {
      @include md {
        display: none;
      }
    }

    &:last-child {
      width: 100%;
      max-width: rem(850);
      @include adaptiv('max-width', 850, 500, 0);
      padding: 0 rem(20);

      @include md {
        padding: 0;
      }
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}