* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
  font-family: $montserrat;

  &.no-scroll {
    overflow: hidden;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba($bc, .3);
      z-index: 100;
    }
  }
}



a {
  text-decoration: none;
  transition: $tr;
}

img {
  width: 100%;
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

input,
button {
  outline: none;
  border: none;
  background: transparent;
}


// input
.input-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include xs {
    flex-direction: column;
  }
}

.input {
  position: relative;
  margin-bottom: rem(20);
  width: calc(50% - 35px);
  border: rem(1) solid #DCDCDC;

  @include lg {
    width: calc(50% - 10px);
  }

  @include xs {
    width: 100%;
  }

  input {
    padding: rem(15);
    color: $bc;
    font-size: rem(14);
    width: 100%;
  }

  label {
    color: #DCDCDC;
    padding: rem(6);
    background-color: $wc;
    font-size: rem(14);
    position: absolute;
    bottom: calc(100% - 13px);
    left: rem(10);
  }


}

// input end

// flex footer
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .content {
    flex: 1 0 auto;
  }
}

// flex footer end

// container
.container {
  width: 100%;
  padding-right: rem(15);
  padding-left: rem(15);
  margin-right: auto;
  margin-left: auto;
  max-width: rem(1550);
  position: relative;
  box-sizing: border-box;

  @include lg {
    max-width: rem(960);
  }

  @include md {
    max-width: rem(720);
  }

  @include sm {
    max-width: rem(540);
  }

  @include xs {
    max-width: 100%;
  }
}


// container end


// title
.title-wrap {
  margin-bottom: rem(20);

  &--indent {
    .title {
      margin-left: rem(20);
    }
  }

  &--white {
    .title {
      color: $wc;
    }
  }

  .title {
    text-transform: uppercase;
    font-weight: 600;
    @include adaptiv('font-size', 35, 20, 0);
    position: relative;
    @include adaptiv('padding-left', 36, 20, 0);
    @include adaptiv('margin-bottom', 50, 20, 0);

    &:before,
    &:after {
      position: absolute;
      content: '';
      top: 50%;
      transform: translateY(-50%);
      background-color: $mc;
      @include adaptiv('width', 7, 3, 0);
    }

    &:before {
      left: 0;
      @include adaptiv('height', 65, 30, 0);
    }

    &:after {
      @include adaptiv('height', 53, 20, 0);
      @include adaptiv('left', 14, 7, 0);
    }
  }

  .subtitle {
    font-weight: 500;
    @include adaptiv('font-size', 27, 15, 0);
    line-height: normal;
  }
}

// title end


// btn
.btn {
  background-color: $mc;
  transition: $tr;
  @include aic-jcc;
  display: inline-flex;
  padding: rem(15) rem(30);
  min-height: rem(56);
  border-radius: rem(39);
  @include adaptiv('border-radius', 39, 16, 0);
  @include adaptiv('min-height', 56, 30, 0);
  color: $wc;
  font-weight: 700;
  @include adaptiv('font-size', 20, 16, 0);
  cursor: pointer;
  outline: none;
  border: none;

  &:hover {
    background-color: $sc;
  }

  &--modify {
    position: relative;
    padding-right: rem(70);

    &:hover {
      &:after {
        right: rem(15);
      }
    }

    &:after {
      position: absolute;
      content: '\e818';
      font-family: icon;
      color: $wc;
      top: 50%;
      transform: translateY(-50%);
      right: rem(20);
      transition: $tr;
      font-size: rem(14);
    }
  }
}

// btn end

// logo
.logo {
  max-width: rem(125);

  @include lg {
    max-width: rem(90);
  }

  @include sm {
    max-width: rem(75);
  }
}

// logo end



// social
.social {
  ul {
    @include aic;

    li {
      margin-right: rem(5);

      a {
        width: rem(24);
        height: rem(24);
        font-size: rem(16);
        @include aic-jcc;
        color: $bc;

        i {
          &:before {
            width: 100%;
            margin: 0;
          }

          &.icon-youtube,
          &.icon-vk {
            font-size: rem(13);
          }
        }

        &:hover {
          color: $mc !important;
        }
      }
    }
  }

  &--white {
    a {
      color: $wc !important;
    }
  }
}

// social end



// shine hover
@keyframes shine {
  to {
    left: 125%
  }
}

// shine hover end



// text
.text-fz20 {
  @include adaptiv('font-size', 20, 14, 0);
  @include adaptiv('line-height', 26, 14, 0);
}

.text-fz27 {
  @include adaptiv('font-size', 27, 16, 0);
  @include adaptiv('line-height', 31, 24, 0);
}

// text end


// icon
.icon-list {
  &__item {
    @include aic;
    margin-bottom: rem(20);
  }

  &__icon {

    @include aic-jcc;
    border: rem(1) solid #0057FF;
    position: relative;
    @include adaptiv('margin-right', 20, 5, 0);
    @include adaptiv('width', 60, 35, 0);
    @include adaptiv('height', 60, 35, 0);
    @include adaptiv('border-radius', 17, 6, 0);
  }

  &__name {
    font-weight: 500;
    @include adaptiv('font-size', 20, 12, 0);
  }
}

// icon end


// list contacts
.list-contacts {
  span {
    border: rem(1) solid $wc;
    @include aic-jcc;
    display: inline-flex;
    @include adaptiv('width', 24, 18, 0);
    @include adaptiv('height', 24, 18, 0);
    @include adaptiv('border-radius', 4, 2, 0);
    @include adaptiv('  margin-right', 14, 9, 0);
  }

  i {
    &.icon-marker {
      @include adaptiv('font-size', 13, 11, 0);
    }

    &.icon-envelope {
      font-size: rem(11);
      margin-left: rem(-2);
      @include adaptiv('font-size', 11, 8, 0);
    }

    &.icon-phone {
      font-size: rem(14);
      @include adaptiv('font-size', 14, 11, 0);
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    li {
      display: inline-flex;
      margin-bottom: rem(20);
      position: relative;
      @include adaptiv('margin-bottom', 20, 12, 0);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  li,
  a {
    color: $wc;
    @include adaptiv('font-size', 16, 13, 0);
  }

  a {
    transition: $tr;
    @include aic;
    position: relative;

    .messenger {
      position: absolute;
      border: none;
      left: calc(100% + 5px);
      bottom: calc(100% - 10px);
    }

    &:hover {
      color: $mc;
    }
  }

  &--dark {
    span {
      border-color: $bc;
      color: $bc;
    }

    li,
    a {
      color: $bc;
      font-weight: 600;
    }
  }
}

// list contacts end


// bg section
.gr-bg {
  background-color: #EFEFEF;
}

// bg section end



// close
.close {
  width: rem(15);
  height: rem(15);
  cursor: pointer;

  &:before,
  &:after {
    position: absolute;
    content: '';
    width: rem(15);
    height: rem(2);
    background-color: #b0b0b0;
    transform-origin: center;
    left: 0;
    top: rem(5);
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

// close end

// rent
.rent {
  @include adaptiv('padding-top', 60, 30, 0);
  @include adaptiv('padding-bottom', 60, 30, 0);

  .icon-list {
    column-count: 3 !important;

    @include xs {
      column-count: 2 !important;
    }
  }

  p {
    margin: rem(20) 0;
  }
}

.price {
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 600;
  color: $bc;
  @include aic;
  border-bottom: rem(1) solid $bc;
  @include adaptiv('font-size', 18, 14, 0);
  padding-bottom: rem(5);
  @include adaptiv('padding-left', 25, 18, 0);

  @include sm {
    position: relative;
    display: inline-block;
  }

  svg {
    position: absolute;
    margin-right: rem(10);
    @include adaptiv('width', 18, 12, 0);
    left: 0;
  }
}

// rent end




// date
.article-date {
  @include aic;
  @include adaptiv('margin-bottom', 40, 10, 0);

  span {
    color: #4a4a4a;
    font-weight: 300;
    @include adaptiv('font-size', 16, 13, 0);

    i {
      margin-right: rem(5);
      color: #4a4a4a;
    }

    &:first-child {
      border-right: rem(1) solid #4A4A4A;
      @include adaptiv('padding-right', 15, 7, 0);
      @include adaptiv('margin-right', 15, 7, 0);
    }
  }
}

// date end