.breadcrumbs {
  @include adaptiv('margin-bottom', 35, 25, 0);

  ul {
    li {
      display: inline-block;
      color: #28467F;
      cursor: default;
      position: relative;
      padding-right: rem(10);

      &:after {
        position: absolute;
        content: '/';
        right: 0;
        color: $gc;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }

      a {
        color: $gc;
        transition: $tr;

        &:hover {
          color: $mc;
        }
      }

      &.active {
        pointer-events: none;

        &:hover {
          color: $gc;
        }

        a {
          pointer-events: none;

          &:hover {
            color: $gc;
          }
        }
      }
    }

    li,
    a {
      @include adaptiv('font-size', 16, 13, 0);
    }
  }
}