.contacts {
  padding-bottom: rem(30);

  &__wrap {
    @include aifs-jfcsb;

    @include sm {
      flex-direction: column-reverse;
    }
  }

  &__col {
    width: 100%;

    &:first-child {
      width: 100%;
      max-width: rem(1125);
      margin-right: rem(45);
      @include sm{
        margin-top: rem(30);
      }
    }

    &:last-child {
      width: auto;

      .title-wrap {
        margin-bottom: rem(20);
      }


    }
  }

  #map {
    height: rem(400);
    @include adaptiv('height', 400, 300, 0);
    overflow-y: hidden;
    iframe {
      margin-top: rem(-50);
      width: 100%;
      height: calc(100% + 50px);
    }
  }
}