// desc text
.desc-text {
  @include adaptiv('padding-left', 30, 15, 0);

  p {
    @include adaptiv('font-size', 18, 15, 0);
    @include adaptiv('margin-bottom', 30, 20, 0);
  }

  &__wrap {
    @include aifs-jfcsb;

    @include md {
      flex-direction: column;
    }
  }

  &__col {
    width: 100%;

    &:last-child {
      max-width: rem(390);
      margin-left: rem(100);
      @include adaptiv('max-width', 390, 250, 0);
      @include adaptiv('margin-left', 100, 50, 0);

      @include md {
        max-width: 100%;
        margin: 0;
        margin-top: rem(30);
      }
    }
  }
}

.detail {
  @include adaptiv('padding-bottom', 60, 30, 0);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include adaptiv('margin-bottom', 20, 10, 0);
  }

  &__title {
    font-weight: 600;
    @include adaptiv('margin-bottom', 30, 10, 0);
    @include adaptiv('font-size', 18, 15, 0);
  }

  &__desc {

    li {
      @include adaptiv('margin-bottom', 15, 10, 0);

      span {
        font-weight: 600;
        line-height: rem(19);
        margin-right: rem(5);
      }
    }
  }

  &__title {
    text-transform: uppercase;
    color: $bc;
    @include adaptiv('margin-bottom', 30, 10, 0);
  }

  &__form {
    background: #F4F6FD;
    box-shadow: 0px 4px 101px rgba(0, 0, 0, 0.03);
    @include adaptiv('padding-top', 35, 10, 0);
    @include adaptiv('padding-bottom', 35, 10, 0);
    @include adaptiv('padding-left', 30, 10, 0);
    @include adaptiv('padding-right', 30, 10, 0);

    form {
      @include jcc;
      flex-direction: column;
    }
  }

  .booking__item {
    max-width: 100%;
    margin-bottom: rem(25);
    margin-right: 0;
  }

  .btn {
    margin-top: rem(40);
  }
}

// desc text end