.hero {
  position: relative;
  padding-bottom: rem(30);
  z-index: 101;
  .header {
    position: relative;
    z-index: 2;
  }

  .hero-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

    &:before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.72);
      z-index: 2;
    }
  }

  &__item {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &__title {
    @include adaptiv('font-size', 96, 35, 0);
    font-weight: 900;
    color: $wc;
    position: relative;
    z-index: 1;
    margin-bottom: rem(80);
    @include adaptiv('margin-bottom', 80, 30, 0)
  }
}