.pass-form {
  position: relative;
  @include adaptiv('min-height', 320, 200, 0);
  @include adaptiv('padding-top', 50, 30, 0);
  @include adaptiv('padding-bottom', 50, 30, 0);


  &__wrap {
    @include aic-jfcsb;

    @include md {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  * {
    color: $wc;
  }

  p {
    font-weight: 500;
    @include adaptiv('font-size', 27, 16, 0);
    line-height: normal;

    @include md {
      margin-bottom: rem(20);
    }
  }

  &:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
}