.popular {
  @include adaptiv('padding-top', 70, 30, 0);
  @include adaptiv('padding-bottom', 70, 20, 0);

  &__wrap {
    text-align: top;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 33%;
    margin-bottom: 8px;
    @include aic-jcc;
    @include adaptiv('min-height', 290, 120, 0);
    @include adaptiv('max-height', 270, 120, 0);
    @include adaptiv('border-radius', 23, 13, 0);

    @include md {
      max-width: calc(50% - 4px);
    }

    img {
      object-fit: cover;
      height: 100%;
      transition: $tr;
    }

    &:before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(7, 13, 18, 0.5);
      z-index: 1;
    }

    &:after {
      position: absolute;
      top: 0;
      left: -100%;
      z-index: 2;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
      background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, .3));
      transform: skewX(-25deg);
    }

    &:hover {
      img {
        transform: scale(1.1) rotate(3deg);
      }

      &:after {
        animation: shine .85s;
      }
    }
  }

  &__desc {
    position: absolute;
    left: rem(50);
    bottom: rem(30);
    z-index: 1;
    @include adaptiv('left', 50, 13, 0);
    @include adaptiv('bottom', 30, 13, 0);
  }

  &__name {
    font-weight: 700;
    color: $wc;
    line-height: normal;
    @include adaptiv('margin-bottom', 12, 5, 0);
    @include adaptiv('font-size', 20, 12, 0);
  }

  &__place {
    font-weight: 500;
    color: $wc;
    line-height: normal;
    position: relative;
    @include adaptiv('font-size', 16, 11, 0);
    @include adaptiv('padding-left', 22, 13, 0);

    &:before {
      position: absolute;
      content: '\e80d';
      font-family: icon;
      left: 0;
      top: 50%;
      transform: translateY(-57%);
    }
  }
}