.popular {
  padding: rem(70) 0;

  &__wrap {
    text-align: top;
    min-height: rem(830);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    border-radius: rem(23);
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 33%;
    margin-bottom: 8px;
    @include aic-jcc;
    min-height: rem(290);
    max-height: rem(270);

    img {
      object-fit: cover;
      height: 100%;
      transition: $tr;
    }

    &:before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(7, 13, 18, 0.5);
      z-index: 1;
    }

    &:after {
      position: absolute;
      top: 0;
      left: -100%;
      z-index: 2;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
      background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, .3));
      transform: skewX(-25deg);
    }

    &:hover {
      img{
        transform: scale(1.1) rotate(3deg);
      }

      &:after {
        animation: shine .85s;
      }
    }
  }

  &__desc {
    position: absolute;
    left: rem(50);
    bottom: rem(30);
    z-index: 1;
  }

  &__name {
    font-weight: 700;
    color: $wc;
    font-size: rem(20);
    line-height: rem(24);
    margin-bottom: rem(12);
  }

  &__place {
    font-weight: 500;
    color: $wc;
    font-size: rem(16);
    line-height: rem(16);
    padding-left: rem(22);
    position: relative;

    &:before {
      position: absolute;
      content: '\e80d';
      font-family: icon;
      left: 0;
      top: 50%;
      transform: translateY(-57%);
    }
  }
}