.tours {
  padding-bottom: rem(35);

  &__category {
    margin-top: rem(10);
    @include adaptiv('margin-bottom', 70, 20, 0);
  }

  &__category-item {
    @include aic;
    border: rem(1) solid $mc;
    box-sizing: border-box;
    overflow: hidden;
    @include adaptiv('border-radius', 17, 7, 0);
    @include adaptiv('padding-right', 15, 7, 0);
    @include adaptiv('padding-left', 15, 7, 0);
    @include adaptiv('min-height', 58, 45, 0);

    &:hover {
      border-color: $bc;

      .tours__category-name {
        color: $mc;
      }
    }

    &.active {
      border-color: $bc;
      color: $mc;
    }
  }

  &__category-name {
    font-weight: 600;
    color: $bc;
    transition: $tr;
    @include adaptiv('font-size', 14, 11, 0);
  }

  &__category-icon {
    width: 100%;
    @include adaptiv('min-width', 45, 25, 0);
    @include adaptiv('max-width', 45, 25, 0);
    @include adaptiv('margin-right', 10, 5, 0);
  }

  &__wrap {
    @include aifs-jfcsb;
    flex-wrap: wrap;
  }

  &__item {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
    overflow: hidden;
    width: calc(33.33% - 17px);
    @include adaptiv('border-radius', 23, 14, 0);
    @include adaptiv('margin-bottom', 34, 20, 0);

    @include md {
      width: calc(50% - 12px);
    }

    @include xs {
      width: 100%;
    }
  }

  &__item-img {
    position: relative;
    overflow: hidden;
    @include aic-jcc;

    &:after {
      position: absolute;
      top: 0;
      left: -100%;
      z-index: 2;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
      background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, .3));
      transform: skewX(-25deg);
    }

    &:hover {
      img {
        transform: scale(1.1) rotate(2deg);
      }

      &:after {
        animation: shine .85s;
      }
    }

    img {
      transition: all .7s;
    }
  }

  &__item-info {
    @include adaptiv('padding', 20, 10, 0);
  }

  &__item-name {
    font-weight: 600;
    color: $bc;
    display: block;
    transition: $tr;
    @include adaptiv('font-size', 16, 14, 0);
    @include adaptiv('margin-bottom', 15, 7, 0);

    &:hover {
      color: $mc;
    }
  }

  &__item-desc {
    line-height: normal;
    @include adaptiv('font-size', 16, 12, 0);
  }
}