
.icon-phone:before { content: '\e800'; } /* '' */
.icon-right1:before { content: '\e801'; } /* '' */
.icon-right:before { content: '\e802'; } /* '' */
.icon-tw:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-vk:before { content: '\e805'; } /* '' */
.icon-whats:before { content: '\e806'; } /* '' */
.icon-youtube:before { content: '\e807'; } /* '' */
.icon-circle_down:before { content: '\e808'; } /* '' */
.icon-colendar:before { content: '\e809'; } /* '' */
.icon-envelope:before { content: '\e80a'; } /* '' */
.icon-facebook:before { content: '\e80b'; } /* '' */
.icon-instagramm:before { content: '\e80c'; } /* '' */
.icon-marker:before { content: '\e80d'; } /* '' */
