extends layout/main/main
block title
  | about
block main
  .wrapper
    .content
      include includes/header/header
      
      include includes/about

    include includes/footer/footer

  include includes/scripts 
