extends layout/main/main
block title
  | article
block main
  .wrapper
    .content
      include includes/header/header
      
      include includes/article-detail

    include includes/footer/footer

  include includes/scripts 
