extends layout/main/main
block title
  | booking
block main
  .wrapper
    .content
      include includes/header/header

      include includes/booking

    include includes/footer/footer


  include includes/scripts 
