extends layout/main/main
block title
  | rent
block main
  .wrapper
    .content
      include includes/header/header

      include includes/rent
      
    include includes/footer/footer


  include includes/scripts 
