extends layout/main/main
block title
  | tour detail
block main
  .wrapper
    .content
      include includes/header/header
      
      include includes/tour-detail

    include includes/footer/footer

  include includes/scripts 
